$grey: rgba(189,189,189,1)
$light_grey: rgba(224,224,224,1)
$black_grey: rgba(66,66,66,1)
$blue: rgba(51,122,183,1)
$black_blue: rgba(48,115,169,1)
$pink: rgba(255,64,129,1)

body
    font-family: 'Open Sans'
    font-size: 16px
    .container-bar
        margin: 0 0 30px 0
        h1
            padding: 13px 50px
            font-size: 2em
            font-weight: 700
            color: rgba(255,255,255,1)
            background-color: $black_blue
            -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75)
            -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75)
            box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75)
