.container-popup
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: rgba(0, 0, 0, 0.4)
    .img-load
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 60px
    .box-popup
        position: fixed
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        max-width: 500px
        width: 80%
        padding: 20px
        background-color: rgba(235,235,235,1)
        border-radius: 3px
        .lbl-popup
            display: block
            padding: 0 0 10px 0
            font-family: 'Open Sans'
            font-size: 1.25em
            font-weight: 700
            color: $black_grey
        .section-add
            width: 100%
            margin: 10px 0
            .lbl-add
                display: inline-block
                width: 160px
                padding: 12px
                font-size: 1em
                font-weight: 400
                text-align: right
                color: rgba(0,0,0,1)
            .txb-add
                float: right
                width: 65%
                padding: 10px
                font-family: 'Open Sans'
                border: 1px solid rgba(117,117,117,1)
                border-radius: 3px
            .cmb-add
                float: right
                width: 65%
                padding: 10px
                font-family: 'Open Sans'
                border: 1px solid rgba(117,117,117,1)
            .btn-add-popup
                float: right
                margin: 10px 0 0 20px
                padding: 10px
                font-family: 'Open Sans'
                color: rgba(255,255,255,1)
                background-color: $black_blue
                border: none
                border-radius: 3px
                &:hover
                    background-color: $pink
