@media screen and (max-device-width : 700px)
    body
        font-size: 14px
        .container-main
            .container
                .container-tab
                    .container-people
                        height: 400px
                    .container-car
                        height: 200px
        .container-popup
            .box-popup
                .section-add
                    .lbl-add
                        display: none
                    .txb-add
                        width: calc(100% - 20px)
                        margin: 3px auto
