.container-main
    .container-people
        height: calc(100vh - 250px)
        margin: 10px 0 0 0
        background-color: rgba(255,255,255,1)
        overflow-y: auto
        table
            thead
                font-weight: 700
                background-color: $grey
            tbody
                background-color: rgba(255,255,255,1)
                .row-table
                    cursor: pointer
                    &:hover
                        background-color: rgba(217,237,247,1)
    .container-car
        height: calc(70vh - 250px)
        margin: 10px 0 0 0
        background-color: rgba(255,255,255,1)
        overflow-y: auto
        table
            thead
                font-weight: 700
                background-color: $grey
            tbody
                background-color: rgba(255,255,255,1)
                .row-table
                    cursor: pointer
                    &:hover
                        background-color: rgba(217,237,247,1)
                .img-table
                    display: inline-block
                    margin: 0 10px 0 0
                    vertical-align: top
