.container-main
    .container
        padding: 0
        -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75)
        -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75)
        box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75)
        .container-tab
            position: relative
            padding: 20px
            background-color: $blue
            .box-button
                position: absolute
                bottom: 30px
                right: 30px
                .btn-add
                    cursor: pointer
                    margin: 0 10px 0 0
                    padding: 10px
                    font-family: 'Open Sans', sans-serif
                    color: rgba(255,255,255,1)
                    background-color: $pink
                    border: none
                    border-radius: 50%
                    &:hover
                        background-color: $black_blue
