body {
  font-family: "Open Sans";
  font-size: 16px; }
  body .container-bar {
    margin: 0 0 30px 0; }
    body .container-bar h1 {
      padding: 13px 50px;
      font-size: 2em;
      font-weight: 700;
      color: white;
      background-color: #3073a9;
      -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75); }

.container-main .container {
  padding: 0;
  -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75); }
  .container-main .container .container-tab {
    position: relative;
    padding: 20px;
    background-color: #337ab7; }
    .container-main .container .container-tab .box-button {
      position: absolute;
      bottom: 30px;
      right: 30px; }
      .container-main .container .container-tab .box-button .btn-add {
        cursor: pointer;
        margin: 0 10px 0 0;
        padding: 10px;
        font-family: "Open Sans", sans-serif;
        color: white;
        background-color: #ff4081;
        border: none;
        border-radius: 50%; }
        .container-main .container .container-tab .box-button .btn-add:hover {
          background-color: #3073a9; }

.container-main .container-people {
  height: calc(100vh - 250px);
  margin: 10px 0 0 0;
  background-color: white;
  overflow-y: auto; }
  .container-main .container-people table thead {
    font-weight: 700;
    background-color: #bdbdbd; }
  .container-main .container-people table tbody {
    background-color: white; }
    .container-main .container-people table tbody .row-table {
      cursor: pointer; }
      .container-main .container-people table tbody .row-table:hover {
        background-color: #d9edf7; }
.container-main .container-car {
  height: calc(70vh - 250px);
  margin: 10px 0 0 0;
  background-color: white;
  overflow-y: auto; }
  .container-main .container-car table thead {
    font-weight: 700;
    background-color: #bdbdbd; }
  .container-main .container-car table tbody {
    background-color: white; }
    .container-main .container-car table tbody .row-table {
      cursor: pointer; }
      .container-main .container-car table tbody .row-table:hover {
        background-color: #d9edf7; }
    .container-main .container-car table tbody .img-table {
      display: inline-block;
      margin: 0 10px 0 0;
      vertical-align: top; }

.container-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4); }
  .container-popup .img-load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px; }
  .container-popup .box-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 80%;
    padding: 20px;
    background-color: #ebebeb;
    border-radius: 3px; }
    .container-popup .box-popup .lbl-popup {
      display: block;
      padding: 0 0 10px 0;
      font-family: "Open Sans";
      font-size: 1.25em;
      font-weight: 700;
      color: #424242; }
    .container-popup .box-popup .section-add {
      width: 100%;
      margin: 10px 0; }
      .container-popup .box-popup .section-add .lbl-add {
        display: inline-block;
        width: 160px;
        padding: 12px;
        font-size: 1em;
        font-weight: 400;
        text-align: right;
        color: black; }
      .container-popup .box-popup .section-add .txb-add {
        float: right;
        width: 65%;
        padding: 10px;
        font-family: "Open Sans";
        border: 1px solid #757575;
        border-radius: 3px; }
      .container-popup .box-popup .section-add .cmb-add {
        float: right;
        width: 65%;
        padding: 10px;
        font-family: "Open Sans";
        border: 1px solid #757575; }
      .container-popup .box-popup .section-add .btn-add-popup {
        float: right;
        margin: 10px 0 0 20px;
        padding: 10px;
        font-family: "Open Sans";
        color: white;
        background-color: #3073a9;
        border: none;
        border-radius: 3px; }
        .container-popup .box-popup .section-add .btn-add-popup:hover {
          background-color: #ff4081; }

@media screen and (max-device-width: 700px) {
  body {
    font-size: 14px; }
    body .container-main .container .container-tab .container-people {
      height: 400px; }
    body .container-main .container .container-tab .container-car {
      height: 200px; }
    body .container-popup .box-popup .section-add .lbl-add {
      display: none; }
    body .container-popup .box-popup .section-add .txb-add {
      width: calc(100% - 20px);
      margin: 3px auto; } }

/*# sourceMappingURL=main.css.map */
