<!DOCTYPE html>
<html lang="es" data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Personas/Coches</title>
    <link rel="shortcut icon" href="icons/favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body data-ng-controller="appController">
    <section>
        <div class="container-main">
            <div class="container-bar">
                <h1>PERSONAS</h1>
            </div>
            <div class="container">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#add" data-toggle="tab">Agregar</a></li>
                    <li><a href="#edit" data-toggle="tab">Editar</a></li>
                    <li><a href="#car" data-toggle="tab">Coches</a></li>
                </ul>
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="add">
                        <div class="container-tab">
                            <div class="box-button">
                                <img data-ng-click="showPopupPeople('Agregar Nueva Persona', 'Agregar')" src="icons/account-plus.svg" class="btn-add" alt="" title="Agregar Persona"/>
                            </div>
                            <div class="container-people">
                                <table class="table table-striped table-condensed table-bordered" fixed-header>
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Apellido Paterno</th>
                                            <th>Apellido Materno</th>
                                            <th>Fecha de Nacimiento</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="people in people">
                                            <td>{{people.Nombre}}</td>
                                            <td>{{people.ApellidoPaterno}}</td>
                                            <td>{{people.ApellidoMaterno}}</td>
                                            <td>{{people.Fecha | date: 'dd/MM/yyyy'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="edit">
                        <div class="container-tab">
                            <div class="box-button" data-ng-show="buttonsVisible">
                                <img data-ng-click="editPeople()" src="icons/account-edit.svg" class="btn-add" alt="" title="Editar Persona"/>
                                <img data-ng-click="showPopupCar('Agregar Nuevo Coche' , 'Agregar')" src="icons/plus.svg" class="btn-add" alt="" title="Agregar Coche"/>
                            </div>
                            <div class="container-people">
                                <div class="container-table">
                                    <table id="myTable" class="table table-striped table-condensed table-bordered" fixed-header>
                                        <thead>
                                            <tr>
                                                <th>Nombre Completo</th>
                                                <th>Coches</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="people in people" data-ng-click="showButtons(people)" class="clickable-row row-table">
                                                <td>{{people.Nombre}} {{people.ApellidoPaterno}} {{people.ApellidoMaterno}}</td>
                                                <td>{{people.getNumCoches.NumCoches}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="car">
                        <div class="container-tab">
                            <div class="container-car">
                                <div class="container-table">
                                    <table id="myTableCar" class="table table-striped table-condensed table-bordered" fixed-header>
                                        <thead>
                                            <tr>
                                                <th>Nombre Completo</th>
                                                <th>Fecha</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="people in people" data-ng-click="showCars(people)" class="clickable-row row-table">
                                                <td>{{people.Nombre}} {{people.ApellidoPaterno}} {{people.ApellidoMaterno}}</td>
                                                <td>{{people.Fecha | date: 'dd/MM/yyyy'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="container-car">
                                <div class="container-table">
                                    <table class="table table-striped table-condensed table-bordered" fixed-header>
                                        <thead>
                                            <tr>
                                                <th>Marca</th>
                                                <th>Modelo</th>
                                                <th>Año</th>
                                                <th>Color</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="car in cars">
                                                <td>{{car.Marca}}</td>
                                                <td>{{car.Modelo}}</td>
                                                <td>{{car.Anyo}}</td>
                                                <td>{{car.Color}}</td>
                                                <td><img data-ng-click="editCar(car)" src="icons/pencil.svg" class="img-table" alt="" title="Editar Coche"/><img data-ng-click="showPopupRemoveCar(car)" src="icons/delete.svg" class="img-table" alt="" title="Borrar Coche"/></td>
                                            </tr>
                                            <tr data-ng-hide="messageVisible">
                                                <td colspan="6"><p>No existen coches registrados.</p></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-show="loadingVisible" class="container-popup"><img class="img-load" src="icons/loading.gif"/></div>
        <div data-ng-show="popupVisible" class="container-popup">
            <div class="box-popup">
                <p>{{message}}</p>
                <div class="section-add">
                    <input class="btn-add-popup" data-ng-click="popupVisible = false" type="button" value="Ok" title="Aceptar"/>
                </div>
            </div>
        </div>
        <div data-ng-show="popupPeopleVisible" class="container-popup">
            <div class="box-popup">
                <form data-ng-submit="savePeople()">
                    <label class="lbl-popup">{{titlePopup}}</label>
                    <div class="section-add">
                        <label class="lbl-add" for="name">Nombre:</label>
                        <input class="txb-add" data-ng-model="thePeople.Nombre" type="text" id="name" placeholder="nombre" title="Introduce Nombre" maxlength="50" required/>
                    </div>
                    <div class="section-add">
                        <label class="lbl-add" for="lastName">Apellido Paterno:</label>
                        <input class="txb-add" data-ng-model="thePeople.ApellidoPaterno" type="text" id="lastName" placeholder="apellido paterno" title="Introduce Apellido Paterno" maxlength="50" required/>
                    </div>
                    <div class="section-add">
                        <label class="lbl-add" for="mLasName">Apellido Materno:</label>
                        <input class="txb-add" data-ng-model="thePeople.ApellidoMaterno" type="text" id="mLastName" placeholder="apellido materno" title="Introduce Apellido Materno" maxlength="50" required/>
                    </div>
                    <div class="section-add">
                        <label class="lbl-add" for="birthdate">Fecha:</label>
                        <input class="txb-add" data-ng-model="birthdate" type="date" id="birthdate" title="Introduce Fecha de Nacimiento" required/>
                    </div>
                    <div data-ng-hide="infoVisible" class="section-add">
                        <br/>
                        <p>{{message}}</p>
                    </div>
                    <div class="section-add">
                        <input class="btn-add-popup" type="submit" value="{{actionButton}}" title="Guardar"/>
                        <input class="btn-add-popup" data-ng-click="hidePopupPeople()" type="button" value="Cancelar" title="Cancelar"/>
                    </div>
                </form>
            </div>
        </div>
        <div data-ng-show="popupCarVisible" class="container-popup">
            <div class="box-popup">
                <form data-ng-submit="saveCar()">
                    <label class="lbl-popup">{{titlePopup}}</label>
                    <div class="section-add">
                        <label class="lbl-add" for="brand">Marca:</label>
                        <input class="txb-add" data-ng-model="theCar.Marca" type="text" id="brand" placeholder="marca" title="Introduce una Marca" maxlength="50" required/>
                    </div>
                    <div class="section-add">
                        <label class="lbl-add" for="model">Modelo:</label>
                        <input class="txb-add" data-ng-model="theCar.Modelo" type="text" id="model" placeholder="modelo" title="Introduce un Modelo" maxlength="30" required/>
                    </div>
                    <div class="section-add">
                        <label class="lbl-add" for="year">Año:</label>
                        <input class="txb-add" data-ng-model="year" type="number" id="year" placeholder="año" min="1950" max="2018" title="Introduce el Año" required/>
                    </div>
                    <div class="section-add">
                        <label class="lbl-add" for="color">Color:</label>
                        <select class="cmb-add" data-ng-model="paint" data-ng-options="item as item.nombre for item in color" id="color" required></select>
                    </div>
                    <div data-ng-hide="infoVisible" class="section-add">
                        <br/>
                        <p>{{message}}</p>
                    </div>
                    <div class="section-add">
                        <input class="btn-add-popup" type="submit" value="{{actionButton}}" title="Guardar"/>
                        <input class="btn-add-popup" data-ng-click="hidePopupCar()" type="button" value="Cancelar" title="Cancelar"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-popup" data-ng-show="removePopupVisible">
            <div class="box-popup">
                <label class="lbl-popup">¿Estas seguro de eliminar el coche {{brand}} de esta persona?</label>
                <p>Una vez eliminado, No se podrá recuperar la información.</p>
                <div class="section-add">
                    <input class="btn-add-popup" data-ng-click="deleteCar()" type="button" value="Eliminar" title="Eliminar"/>
                    <input class="btn-add-popup" data-ng-click="removePopupVisible = false" type="button" value="Cancelar" title="Cancelar"/>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script>
        $('#myTable, #myTableCar').on('click', '.clickable-row', function(event) {
            $(this).addClass('active info').siblings().removeClass('active info');
        });
    </script>
</body>
</html>
